# Note that the REACH_CONFIG environmental path needs to be defined

# VNA parameters
vna:
    name: vna0
    gui_path: /home/reach/Software/CMT_TRVNA_19.2.1_x86_64.appimage
    channel: 1
    freqstart: 40
    freqstop: 180
    ifbw: 1000
    average: 20
    calib_kit: 23
    power_level: -5

# TPM parameters
spectrometer:
    name: tpm
    ip: 10.0.10.2
    port: 10000
    lmc_ip: 10.0.10.100
    lmc_port: 4660
    bitstream: itpm_v1_1_tpm_reach_wrap_v11.bit
    nof_frequency_channels: 16384
    integration_time: 1
    ada_gain: 15
    channel_truncation: 2

# uController parameters
ucontroller:
    name: uctrl
    port: COM4
    baudrate: 256
