# This section defines observation-specific parameters
observation:
    name: test_observation
    start_time: now   # A date format can be specified to schedule an observation
    output_directory:  /tmp/reach_test_obs   # Directory where output files will be stored
    spectrometer_id: 2  # ID of the spectrometer channel input to use
    longitude: 0.0
    latitude:  0.0


# Define list of operations which must be performed
operations:
    - power_on_spectrometer: {initialise: False}
    - measure_spectrum: {name: test, source: none, duration: 60} 
    - measure_spectrum: {name: test_2, source: none, duration: 60} 
    - measure_spectrum: {name: test_3, source: none, duration: 60} 
    - power_off_spectrometer